#contato {
    margin-bottom: 30px;
    margin-top: 30px;
}

#contato h1 {
    padding-top: 50px;
    padding-bottom: 30px;
}

#contato h2 {
    padding-top: 30px;
    padding-bottom: 15px;
}

#contato p {
    font-weight: normal;
    padding-bottom: 20px;
}

#form {
    padding: 30px;
    border: 1px solid #74009b;
}

.sociais {
    background-color: #74009b;
    padding: 30px;
    color: #fff;
}

.sociais p {
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sociais .logo {
    width: 25px;
    height: 25px;
}

.sociais a {
    color: #fff;
    padding: 10px;

}

.sociais a:hover {
    text-decoration: none;
    color: #74009b;
    background-color: #fff;
    border-radius: 20px;
}

.formulario textarea {
    height: 150px;
}