h1 {
   font-size: 30px;
}

h2 {
   font-size: 18px;
   text-align: justify;
   margin: 0;
}

p {
   margin-top: 0;
}

#empreendimento {
   padding-top: 20px;
   padding-bottom: 20px;
}

#empreendimento .empreendimento_logo {
   width: 150px;
   height: 150px;
   border-radius: 50%;
}

#empreendimento p {
   color: #6b6b6b;
   font-weight: 600;
}

#empreendimento .icone {
   margin-top: 30px;
   margin-bottom: 10px;
   width: 60px;
   height: 60px;
   border-radius: 5px;
}

#slider {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #E9DAA1;
}

.slider {
   margin-top: 30px;
   margin-bottom: 30px;
}


.legenda p {
   font-weight: bold;
   font-size: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-shadow: 2px 2px 3px black;
}

.botao {
   width: 60px;
   height: 60px;
   background-color: black;
}


#video {
   padding: 50px;
}

#video .conteudo {
   padding: 40px;
   background-color: #74009b;
}

#areas-lazer {
   margin: 40px 0;
   border: 1px solid #74009b;
}

#areas-lazer ul {
   padding-right: 50px;
}

#areas-lazer li {
   width: 100px;
   margin: 10px;
   text-align: center;
   font-weight: 600;
}

.titulo {
   margin: 20px;
}

.lista-areas {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
}

.texto-centralizado {
   text-align: center;
}

.icones-lazer {
   width: 80px;
   height: 80px;
   border-radius: 10px;
}


#descricao {
   margin-bottom: 20px;
   margin-top: 30px;
}

#descricao h2 {
   margin-top: 20px;
}

.descricao p {
   margin-bottom: 20px;
   text-align: left;
}

#texto {
   background-color: #74009b;
   padding: 30px;
   color: #fff;
}

#formulario-empreendimento {
   border: 1px solid #74009b;
   padding: 30px;
}

.interesse p {
   text-align: center;
   padding-bottom: 20px;
}


#localizacao {
   margin-top: 30px;
   background-color: #E9DAA1;
}

#localizacao h1 {
   padding-bottom: 10px;
   padding-top: 20px;
}

#localizacao p {
   font-size: 15pt;
   color: #000;
   padding-bottom: 20px;
}

.badge-branco2 {
   color: #67008a;
   background-color: #fff;
}