#empreendimento {
   padding-top: 20px;
   padding-bottom: 20px;
}

#empreendimento .empreendimento_logo {
   width: 150px;
   height: 150px;
   border-radius: 50%;
}

#empreendimento h1 {
   font-size: 20pt;
}

#empreendimento h3 {
   margin: 10px;
}

#empreendimento h5 {
   color: #6b6b6b;

}

#empreendimento .icone {
   margin-top: 30px;
   margin-bottom: 10px;
   width: 60px;
   height: 60px;
   border-radius: 5px;
}

#sliderfurquim {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #E9DAA1;
}

#slideratrios {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #E9DAA1;
}

#slidercoimbra {
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #E9DAA1;
}

.slider {
   margin-top: 30px;
   margin-bottom: 30px;
}

.legenda {
   padding-top: 15px;
   padding-bottom: 15px;
   background-color: rgba(0, 0, 0, 0.7);
}

.legenda h5 {
   padding-top: 10px;
   padding-bottom: 10px;
}

.botao {
   width: 60px;
   height: 60px;
   background-color: black;
}

#areas-lazer {
   margin: 40px 0;
   padding: 20px;
   border: 1px solid #74009b;
}

#areas-lazer li {
   width: 100px;
   margin: 15px;
   text-align: center;
   font-weight: 600;
}

.lista-areas {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
}

.texto-centralizado {
   text-align: center;
}

.icones-lazer {
   width: 80px;
   height: 80px;
   border-radius: 10px;
}


#descricao {
   margin-bottom: 20px;
   margin-top: 30px;
}

#descricao h2 {
   margin-top: 20px;
   margin-bottom: 30px;
}

.descricao h5 {
   text-align: left;
}

.descricao p {
   margin-bottom: 20px;
   text-align: left;
}

#texto {
   background-color: #74009b;
   padding: 30px;
   color: #fff;
}

#formulario-empreendimento {
   border: 1px solid #74009b;
   padding: 30px;
}

.interesse h5 {
   text-align: center;
   padding-bottom: 20px;
}


#localizacao {
   margin-top: 30px;
   background-color: #E9DAA1;
}

#localizacao h2 {
   padding-bottom: 10px;
   padding-top: 20px;
}

#localizacao h3 {
   font-size: 15pt;
   color: #000;
   padding-bottom: 20px;
}