/* Call */
#call {
    margin-top: 75px;
    width: 100%;
    height: 600px;
    background-color: black;
    background: url("../images/slider/slider1.png") no-repeat center fixed;
    background-size: cover;
}

#call .text {
    padding: 20px 10px 20px 10px;
    display: block;
    border-radius: 10px;

}

#call .fundo-text {
    text-shadow: 2px 2px 2px #000;
}

#call .slider {
    padding-top: 10rem;
    position: static;
    width: 70vw;
    height: 600px;
}

#call .slider h1 {
    text-align: center;
    color: #fff;

}

#call .slider p {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

#call .slider button {
    margin-top: 10px;
}




/*Cooperativa*/

#cooperativa {
    padding-top: 80px;
    padding-bottom: 40px;
}

#cooperativa h1 {
    margin-bottom: 40px;
    color: black;
}

#cooperativa .texto {
    padding: 30px;
    background-color: #74009b;
    color: white;
}

#cooperativa .video {
    border: 1px solid #74009b;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#cooperativa .botao {
    padding-top: 10px 10px 10px 10px;
}

#cooperativa .texto-coop {
    text-align: justify;
}


#cooperativa a {
    margin: 30px;

}


/* Lista de Preferencia */
#cadastro {
    /*background: url("../images/slider/slider2.png") no-repeat center center fixed;
    background-size: cover;*/
    padding-top: 80px;
    padding-bottom: 40px;
}


#cadastro h1 {
    margin-bottom: 40px;
}

#cadastro label {
    font-size: 20px;
    font-weight: bold;
}

#cadastro .texto {
    padding: 30px;
    border: 1px solid #74009b;
}

#cadastro .formulario {
    background-color: #74009b;
    color: #fff;
    padding: 30px;
}

#cadastro .negrito {
    font-weight: bolder;
}


/*Empreendimentos*/
#empreendimentos {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #74009b;
}

#empreendimentos .badge-white {
    background-color: #fff;
    color: #74009b;
}

#empreendimentos h1 {
    margin-bottom: 40px;
}

#empreendimentos h2 {
    font-size: 23px;
}

#empreendimentos p {
    font-size: 16px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fdfdd6;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

#alpha {
    padding-top: 50px;
    padding-bottom: 30px;
    /*background: url("../images/slider/slider.png") no-repeat center center fixed;
    background-size: cover;*/
    background-color: #fff;
}


.jumbotron {
    padding: 1rem 1rem;
    margin: 1rem;
    background-color: #fefefec0;
    border-radius: 0.3rem;
    color: black;
}

.jumbotron p {
    font-size: 20px;
}

.jumbotron h1 {
    font-size: 30px;
    font-weight: 600;
}